@import '../fonts/visby-round-font.css';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'VisbyRound', sans-serif;
    letter-spacing: 0.7px;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #092536;
}

button {
    background-color: #F99B3C;
    color: #051E2D;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #fdac5b;
}

input,
select {
    background-color: #cfe2ee;
    padding: 5px 10px;
    min-height: 35px;
    width: 100%;
    border: none;
    border-radius: 7px;
}

.hide {
    display: none;
}

.body-div {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 500px;
}

.body-top-div {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    min-height: 60px;
    font-size: 25px;
    align-items: flex-end;
    color: #B5E3FF;
    border-bottom: 1px #054267 solid;
}

.header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    min-height: 60px;
    background-color: #051E2D;
    border-bottom: 1px #054267 solid;
}

.row-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.delete-dialog {
    flex-shrink: 0;
    border-radius: 5px;
    background: #124361;
    padding: 10px;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
}

.dialog-btn {
    border-radius: 2px;
    font-size: 14px;
    background: #27658B;
    padding: 2px 6px;
    margin: 3px 4px;
    margin-top: 10px;
}

.dialog-btn:hover {
    background: #3881af;
    cursor: pointer;
}

.logo-text {
    color: #F99B3C;
    margin-left: 5px;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
}

.primary-text {
    font-size: 24px;
    font-style: normal;
    font-weight: medium;
}

.secondary-text {
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
}

.tertiary-text {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

.text-container{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}