* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-div {
    width: 100%;
    min-height: 100px;
    background-color: #051E2D;
    border-bottom: 1px #054267 solid;
}